main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;    
}



#menu-hr {
    border: 0;
    height: 1px;
    background-color: #757575;
    margin: 1rem 0;
  }

  .main-menu {
    margin-bottom: 80px;
  }
  
.nav-link, .menu-header{
    color: #ffffff;
    font-size: 1.2rem;
    margin: 0 16px;
    
}

.nav-link:hover{
    color: #ffffff;
}

#sidebarToggle {
    border: none; /* Remove border */
  }
  
  #sidebarToggle .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* White icon */
  }

 /* Sidebar styles (hidden by default) */
 #sidebarMenu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #f5f5f5;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1050;
  }

  #sidebarMenu.show {
    transform: translateX(0);
  }

  .sidebar-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040;
    display: none;
  }

  .sidebar-backdrop.show {
    display: block;
  }



    header {
        background: #005580;
        color: #fff;
        box-shadow: 0 0 10px #002635;
        z-index: 10;
        display: flex;
        justify-content: space-between; 
        align-items: center;  
        height: 80px;
        width: 100%;
        padding: 0 80px; 
        
    }

    
    

    .logo-container {
        display: flex; /* Flexbox for aligning logo and text */
        align-items: center;
    }

    .logo-container img {
        height: 50px;
        width: auto;
        margin-right: 20px; 
    }

    

    #dropdownUser {
        margin-top: 0px !important;
        height: 100%;
        background-color: transparent !important;
        color: #ffffff;
        border: 1px solid #fff;
    }

      /* dropdown user */
      .dropdown-header {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        font-size: 1rem; 
    }

    

    #dropdownField {
        margin-top: 0px !important;
        height: 100%;
        background-color: #f5f5f5 !important;
        color: #000;
        width: 100%;
    }

    /* General Dropdown Styles */
.dropdown-content {
    display: none; 
    position: absolute;
    background-color: #fff; 
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); 
    min-width: 160px;
    max-width: 200px;
    padding: 8px;
    z-index: 1; 
    font-size: 1rem;
    margin-top: 4px;
}

/* Dropdown Header */
.dropdown-header {
    font-size: 1.2rem; 
    font-weight: bold; 
    
    color: #000; 
    margin: 8px;
    white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
}

/* Dropdown Divider */
.dropdown-divider {
    border: none; 
    height: 1px; 
    background-color: #ccc; 
    margin: 8px 0; 
}


.dropdown-content a:hover {
    background-color: #f1f1f1;
}

#dropdownOption {
    width: 320px;
}

#dropdownOption #userEmail {
    color: #6b6b6b;
    margin-bottom: 16px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    font-size: 1rem;
}

#dropdownOption #userName {
    font-size: 1rem;
    font-weight: bold;
    
}



/* Reading mode filter */
.reading-mode {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 235, 204, 0.7); 
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: multiply;
    transition: 0.3s;
  }

  .form-check-label {
    color: #000000;
  }
  

  .form-check-input:checked {
    background-color:#005580 !important;
  }
  

  .reading-mode-toggle, .high-contrast-toggle {
        display: flex;
        justify-content: space-between; 
        margin: 8px ;
  }


#logout {
    color: #CE0000;
}

#logout:hover {
    color: #ffffff;
    background-color: #CE0000;
}


.dropdown-search-container {
    display: flex;      
}

#dropdown-search {
    margin: 4px;
}
    
    .search-container {
        width: 420px; 
        max-width: 800px;
        margin: 0 auto; 
        display: flex;
        margin: 4px;
    }
    

    .search-input {
        flex: 1;
        padding: 12px;
        border: transparent;
        border-radius: 8px 0 0 8px;
        box-sizing: border-box;
        font-size: 1rem;
        
        
    }

    .search-button {
        background-color: #005580;
        color: #fff;
        padding: 8px 20px;
        border: none;
        border-radius: 0 8px 8px 0;
        cursor: pointer;
        font-size: 1.2rem;
    }

    .search-button:hover {
        background-color: #004466;
        transition: 0.3s;
    }
    

    .box-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px;
    }

    #myBtn {
        display: none; 
        position: fixed; 
        bottom: 60px;
        right: 40px;
        z-index: 99;
        border: none;
        outline: none;
        background-color: #005580; 
        color: white;
        cursor: pointer;
        border-radius: 50px;
        font-size: 1.8rem;
        height: 60px;
        width: 60px;
        opacity: 0.7;
    }

    

    #myBtn:hover {
        background-color: #004466;
        transition: 0.3s;
        opacity: 1;
    }

    .bold {
        font-weight: bold !important;
    }
    
   

    footer {
        background-color: #171717;
        color: white;
        text-align: center; 
        padding: 5px 0;  
    }

    .footer {
        display: flex;
        justify-content: space-around;
        text-align: left;
        width: 100%;
        max-width: 1400px; 
        margin: auto;
        margin-bottom: 60px;
    }

    .footer div {
        flex: 0 0 30%;
        padding: 0px 20px ;
        font-size: 1rem;  
        margin-top: 40px;
    }

    .footer-title {
        font-size: 1.2rem;
        margin: 12px 0px;
        font-weight: bold;
    }

    .footer a {
        display: block;
        color: #f5f5f5;
        text-decoration: none;
        margin-bottom: 5px;
    }

    .footer a:hover {
        text-decoration: underline;
    }

    .fa-envelope, .fa-phone-flip {
        font-size: 0.95rem;
        margin-right: 10px;
    }

    .copyright {
        font-size: 1rem;
        color: #e0e0e0;
    }






    /*INDEX------------------------------------------------------------------------------------------------------------------*/
    /*INDEX------------------------------------------------------------------------------------------------------------------*/
    .homebox {
        align-items: center;
        justify-content: center;
        height: 600px;
        width: 100%;
        display: flex;
        color: #f5f5f5;
        background-image: url('neuaindex.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        flex-direction: column;
    }

    :root {
        --heading-font-size: 5rem;
        --heading-line-height: 1.2;
    }
    
    .homebox #heading {
        font-size: var(--heading-font-size);
        font-weight: bolder;
        line-height: var(--heading-line-height);
        white-space: nowrap;
        overflow: hidden;
        border-right: 4px solid;  /* Blinking caret */
        animation: blink-caret 0.75s step-end infinite;  /* Caret blinking */
    }
    
    @keyframes blink-caret {
        from, to {
            border-color: transparent;
        }
        50% {
            border-color: #fff;
        }
    }


    .hidden {
        opacity: 0;
        transform: translateY(20px); 
        transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    }
    
    /* Fade-in animation on scroll */
   

    .course-container {
        display: grid;
        gap: 16px;
        grid-template-columns: 2.28fr .72fr;
        grid-template-rows: auto;
        grid-template-areas:
            "banner programs"
            "cards cards";
        padding: 8px;
        max-width: 800px;
        width:100%;
        margin: 80px auto;
        opacity: 0;
        animation: fadeIn 1s ease-in-out forwards;     
        position: relative;
    }
    
    /* Fade In on Initial Load */
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    .banner {
        grid-area: banner;
        background-color: #e6e6e6;
        color: #005580;
        border-radius: 8px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 10;
    }
    
    .banner .text-content h1 {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 4px;
        opacity: 0;
        animation: fadeIn 1s ease-in-out forwards;
    }
    
    .banner .computer-studies {
        font-size: 2.5rem;
        font-weight: bolder;
          
    }
    
    .programs {
        display: block;
        grid-area: programs;
        background-color: #e6e6e6;
        border-radius: 8px;
        color: #2c2c2c;
        padding: 16px;
        opacity: 0;
        animation: fadeIn 1s ease-in-out forwards;
        animation-delay: 0.3s;
        font-size: 0.8rem;
    }
    
    .programs h2 {
        margin-bottom: 16px;
        color: #2c2c2c;
        font-size: 0.8rem;
        text-align: center;
        font-weight: bold;
    }
    
    .home-cards {
        grid-area: cards;
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(4, 1fr);
        opacity: 0;
        animation: fadeIn 1s ease-in-out forwards;
        animation-delay: 0.6s; 
    }
    
    .course-card {
        background-color: #005580;
        padding: 8px 4px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2.4rem;
        position: relative;
        font-weight: bolder;
        transform: scale(1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        overflow: hidden; 
    }

    .home-cardcont a, .home-cardcont span a, .highlight a {
        text-decoration: none;
        color: #ffffff;
    }
    
    .course-card span {
        display: block;
        font-size: 0.8rem;
        font-weight: normal;
        transition: color 0.3s ease;   
    }
    
    /* Scale and Shadow on Hover for Cards */
    .course-card:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
    
    .highlight {
        background-color: #757575;
    }

    .highlight i {
        margin-left: 16px;
    }

    .box3 {
        height: auto;
        width: 100%;
        background-image: url('neuadescbg.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed; /* This keeps the background in place */
        display: flex;
        align-items: center; 
        justify-content: center;
        margin: auto;
    }
    
    #neua-desc {
        font-size: 1.2rem;
        margin: 120px 50px;
        max-width: 800px;
        width: 80%;
        text-align: left;
        color: #f5f5f5;
    }
    
    .vertical-line {
        width: 4px;     
        flex-shrink: 0;  
        height: 180px;            
        background-color: #ffffff;
        margin-left: 40px;        
    }
   
    



    /*SEARCH DOCUMENT CSS----------------------------------------------------------------------------------------------------------*/
    /*SEARCH DOCUMENT CSS----------------------------------------------------------------------------------------------------------*/   
    .box1 {
        align-items: center;
        justify-content: center;
        height: 420px;
        width: 100%;
        display: flex;
        color: #f5f5f5;
        background-image: url('neuaindex.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        flex-direction: column;
    }

    :root {
        --title-font-size: 3.5rem;
        --title-line-height: 1;
    }
    
    #heading {
        font-size: var(--title-font-size);
        font-weight: bolder;
        line-height: var(--title-line-height);
        white-space: nowrap;
        overflow: hidden;
        border-right: 4px solid;  /* Blinking caret */
        animation: blink-caret 0.75s step-end infinite;  /* Caret blinking */
    }
    
    @keyframes blink-caret {
        from, to {
            border-color: transparent;
        }
        50% {
            border-color: #fff;
        }
    }


    .box2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 1000px;
        margin: 80px auto; 
    }
                   
    #result, #faq {
        font-size: 1.5rem; 
    }
    
    #sort {
        color: #CE0000;
    }

    
    
    .dropdown-block {
        display: flex;
        justify-content: flex-end;
        
        margin: auto;
        margin-bottom: 16px;
        gap: 8px;
        width: 90%;
        flex-direction: row;
    }
    
    .dropdown-btn {
        background-color: #e0e0e0;
        color: #000000;
        font-size: 1rem; 
        border: none;
        cursor: pointer;
        border-radius: 8px;
        padding: 12px 16px;
        margin-top: 8px;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        top: 100%;
        background-color: white;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
        z-index: 1;
        width: auto;
        
        border-radius: 8px;
        font-size: 1rem;
    }
    
    .dropdown-content a {
        color: #000000;
        padding: 8px 12px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-content a:hover {
        background-color: #f1f1f1;
        border-radius: 8px;
    }
    
    .card-deck, .faq {
        display: flex;        
        align-items: center;
        justify-content: center;
        margin: 8px auto;
        width: 90%;
        flex-direction: column;
    }

    .card {
        width: 100%;
        height: auto;
        border-radius: 8px;
        box-sizing: border-box;
        margin: 8px auto;
        transition: 0.3s;
        border: 2px solid #e0e0e0;
        font-size: 1rem; 
        color: #757575; 
    }

    
    #title1 i, #author i, #year i, #course i {
        margin-right: 8px;
    }

    
    #title1 {
        font-size: 1.2rem;
        font-weight: bold;
        color: #003144;
        white-space: nowrap; /* Prevent text from wrapping to the next line */
        overflow: hidden; /* Hide overflow text */
        text-overflow: ellipsis; 
        
    }

    #author {
        

        white-space: nowrap; /* Prevent text from wrapping */
        overflow: hidden; /* Hide overflow text */
        text-overflow: ellipsis; /* Show ellipsis for overflow text */
        
        
    }
    
    
    
    .card:hover {
        border: 2px solid #004466;
        transition: 0.3s;
        cursor: pointer;
    }
    
    .page {
        display: flex;
        justify-content: center;
        margin: 60px;
    }
    
    .page-item a {
        background-color: #ebebeb;
        color: #005580;
        font-size: 1rem; 
        text-decoration: none;
    }
    
    .page-item a:hover {
        background-color: #004466;
        color: #f5f5f5;
    }
    
    
    




    /*DOCUMENT PAGE----------------------------------------------------------------------------------------------------------*/
    /*DOCUMENT PAGE----------------------------------------------------------------------------------------------------------*/
    #infoContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 80px 0;
    }
    
    .info-box {
        background-color: #ffffff;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 36px;
        max-width: 1000px;
        width: 100%;
        height: auto; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        margin: 20px auto; 
        font-size: 1rem;
    }
    
    .info-box p {
        margin: 0;
        padding: 8px 0;
        width: 100%;
        
    }

    #documentAbstract {
        text-align: justify;
        display: block;
        width: 90%;
      }
      
    

    .request-document {
        margin: 24px 0;
        text-align: start;
        
        

    }
    
    .request-btn {
        display: flex;
        align-items: center;
        padding: 12px 16px;
        
    }
    
    .request-btn i {
        margin-right: 16px;
        font-size: 1.5rem;
    }


    .modal-body .row {
        margin-bottom: 8px;
    }
    
    .modal-body .col-4 {
        font-weight: bold; 
    }

    #documentTitle {
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis; 
        display: inline-block; 
        max-width: 100%; 
      }

    .separator {
        border: none;
        border-top: 1px solid #6b6b6b;
        margin: 24px 0;
    }
    
    .terms-container {
    background-color: #f5f5f5;
     border-radius: 8px;
    }   

    .detail-row {
        display: flex;
        margin: 0 8px; 
    }
    .detail-label {
        flex: 0 0 25%; 
        max-width: 25%;
    }
    .detail-value {
        flex: 0 0 75%; 
        max-width: 75%;
    }


    #pdfContainer {
        width: 100%;
        height: 1000px;
      overflow-y: auto;
        overflow-y: auto;
        margin-top: 24px;
    }

    /* Style for individual canvas elements */
    .pdf-page-canvas {
      width: 100%;
      
        display: block;
        margin: 10px auto;
        
        border: 1px solid #ccc;
        
    }

    #documentTitle {
        font-size: 1.5rem;
        font-weight: bold;
    }
    

    





    /*FAQ PAGE----------------------------------------------------------------------------------------------------------*/
    /*FAQ PAGE----------------------------------------------------------------------------------------------------------*/
    
    .content {
        max-height:100vh; 
        background: linear-gradient(white, gray);
    }

    .accordion {
        width: 85%;
        margin: 60px auto 80px auto;
    }
    
    .accordion-button:hover {
        background-color: #e1eef4;
    }
    
    .accordion-item  {
        width: 100%;
        font-size: 1rem;
    }

    .accordion-body {
        font-size: 1rem;
        width: 90%;
    }
    
    .accordion-button{
        font-size: 1.2rem;
    }
    
    .accordion-button:not(.collapsed) {
        background-color: #ACC6D2;
        color: #000000;
    }
    
    .accordion-item {
        margin: 0px;  
    }
    
    .faq-report {
        width: auto;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #757575;
        font-size: 1rem; 
        margin: 60px;
    }
    
    .faq-report:hover {
        color: #2c2c2c;
    }
    




     /*---------------------------------------------------------------------------------------------------------1024px            +++++*/
     @media only screen and (max-width: 1024px) {
    
        .home-cards {
        grid-template-columns: repeat(2, 1fr); /* Show one card per row */
        gap: 10px;
    }
    }


    


    /*---------------------------------------------------------------------------------------------------------768px            +++++*/
     /* Hide the sidebar toggle button for larger screens */
  @media (min-width: 768px) {
    #sidebarToggle {
      display: none;
    }

    #navbarNav {
      display: flex !important;
    }
  }


    @media only screen and (max-width: 768px) {
    header {
        justify-content: space-between;
        align-items: center;
        top: 0px;
        width: 100%;
        height: 60px;
        background: #005580;
        box-shadow: none;
        border-radius: 0;
        padding: 0 40px;
        
    }

    .logo-container img {
       display: none;
    }

    
 

  /* Display the sidebar for smaller screens */
 
    #navbarNav {
      display: none;
    }

    #dropdownOption {
        width: 180px;
    }

    #sidebarToggle {
      display: inline-block;
    }
  
    .nav-link, .menu-header{
        color: #000000;
        margin: 0px 8px;
        padding: 16px;
        border-radius: 8px;
    }
    
    .nav-link:hover{
        color: #000000;
        background-color: #ececec;
    }
    
    #menu-gap {
        margin-top: 8px;
    }

    .search-container {
        width: 320px; 
        
    }
    

    .footer {
        flex-direction: column;
        width: 80%; 
        padding: 16px;
    }
 
    .footer div {
        flex: 0 0 25%;
        padding: 8px;
        margin-top: 10px;
        max-width: 450px;
    }
 
 




    /*INDEX------------------------------------------------------------------------------------------------------------------*/
    /*INDEX------------------------------------------------------------------------------------------------------------------*/
    .homebox {
        height: 480px;
    }

    .homebox #heading {
        font-size: 3rem;
        white-space: normal;
        
    }

    .course-container {
        grid-template-columns: 1fr; /* Single column */
        grid-template-areas:
            "banner"
            "programs"
            "cards"; /* Stacking all areas vertically */
        gap: 8px; 
        padding: 8px; 
        margin: 16px auto; 
        width: 100%;
        max-width: 480px; 
    }

    .banner {
        background-image: url('coursebg.png');
        background-size:contain;
        background-repeat:no-repeat;
        background-position:bottom;
    }

    .banner .computer-studies {
        font-size: 2rem;
        margin-bottom: 16px;
    }

    .sub-text {
        font-size: 1.2rem !important;
        margin-top: 16px;
    }


    .course-card {
        font-size: 2rem;
    }

    .course-container img {
        display: none;
    }

    .banner .text-content h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #neua-desc {
        
        width: 70%;
        margin: 100px 40px;
    }

    .vertical-line {
        width: 3px;     
        
    }

    



    /*SEARCH DOCUMENT----------------------------------------------------------------------------------------------------------*/
    /*SEARCH DOCUMENT----------------------------------------------------------------------------------------------------------*/
    .box1 {
        height: 360px;
    }   
    #heading { 
    font-size: 2.8rem;
    }
    .dropdown-block {
        width: 100%;
    }

    .dropdown-btn {
        font-size: 0.875rem; 
        padding: 10px 14px; 
        margin-top: 6px; /
    }

    

    .dropdown-content a {
        padding: 10px 14px;
    }

    .card-deck {
        width: 100%;
    }

    
    .page {
        margin: 40px;
    }


    /*DOCUMENT PAGE----------------------------------------------------------------------------------------------------------*/
    /*DOCUMENT PAGE----------------------------------------------------------------------------------------------------------*/
    .info-box {
        padding: 16px; 
        margin: 8px auto; 
        width: 100%;
    }

    #documentAbstract {
        width: 100%;
      }
    







    /*FAQ PAGE----------------------------------------------------------------------------------------------------------*/
    /*FAQ PAGE----------------------------------------------------------------------------------------------------------*/
    
        .faq {
            margin: 40px auto; 
        }
    
        .accordion {
            margin-top: 40px;
            margin-bottom: 60px; 
            width: 100%;
        }

        .about-content {
            display: flex;
            flex-direction: column;
            margin: 16px 0px !important;
            width: 100%;
            max-width: 800px;
            
        }

        .box2 {
            width: 100%;
        }

        
    }




/*---------------------------------------------------------------------------------------------------------480px            +++++*/
    @media only screen and (max-width: 480px) {
    .box-text {
        margin: 10px; 
    }

    .dropdown-search-container {
        display: flex;
        flex-direction: column;      
    }
    
    .search-container {
        max-width: 250px; 
    }
    .search-input {
        padding: 8px; 
        font-size: 0.8rem; 
        
    }
    .search-button {
        font-size: 0.8rem; 
        padding: 6px 14px;
    }

    #myBtn {
        font-size: 1.5rem;
        height: 42px;
        width: 42px;
    }


    .footer {
        width: 90%; 
        padding: 16px;
     }
 
    .footer div {
        flex: 0 0 25%;
        padding: 8px;
        font-size: 0.8rem;
        margin-top: 10px;
    }
 
    .footer-title {
        font-size: 1rem;
        margin-bottom: 10px;
    }
    
    
    

    
    /*INDEX------------------------------------------------------------------------------------------------------------------*/
    /*INDEX------------------------------------------------------------------------------------------------------------------*/
    .homebox {
        height: 420px;
    }
    
    .homebox #heading {
        font-size: 2.8rem;
        font-weight: bolder;
        line-height: 1;
    }

    


    .banner {
        background-image: url('coursebg.png');
        background-size:cover;
        background-repeat:no-repeat;
        background-position:center;
    }

    .banner .computer-studies {
        font-size: 1.5rem;
        margin-bottom: 16px;
    }

    .sub-text {
        font-size: 1rem !important;
        margin-top: 16px;
    }

    .course-card {
        font-size: 1.5rem;
        padding: 10px;
    }


    .course-card span {
        display: block;
        font-size: 0.8rem;
    }

    #neua-desc {
        font-size: 1rem;
        width: 90%;
        margin: 60px 30px;
    }




    
    /*SEARCH DOCUMENT PAGE----------------------------------------------------------------------------------------------------------*/
    /*SEARCH DOCUMENT PAGE----------------------------------------------------------------------------------------------------------*/
    .box1 {
            height: 300px;
    }
    
    #heading {
        font-size: 2rem;
        margin-top: 60px;
    }
    .card-deck {
        width: 100% !important;
    }

    #result, #faq {
        font-size: 1.5rem; 
    }

    .dropdown-block {
        width: 100%;
    }
    .dropdown-btn {
        font-size: 0.75rem; 
        padding: 8px 12px; 
        margin-top: 8px; 
    }

    .dropdown-content {
        width: 140px; 
        margin-top: 8px; 
        font-size: 0.8rem;
    }

    .dropdown-content a {
        padding: 8px 12px; 
    }

    .card {
        font-size: 0.8rem;
        margin: 4px auto;
    }

    .card-deck {
        width: 97%;
    }

    .card-body {
        padding: 8px;
    }
    
    #title1 {
        font-size: 1rem; 
    }

    #author {
        flex: 2 !important; 
    }
    

    .page {
        margin: 32px; 
    }

    .page-item a {
        font-size: 1rem; 
    }



    
    /*DOCUMENT PAGE----------------------------------------------------------------------------------------------------------*/
    /*DOCUMENT PAGE----------------------------------------------------------------------------------------------------------*/
    
    .info-box {
        padding: 16px; 
        width: 100%; 
        font-size: 1rem; 
        margin: 12px auto; 
    }

    .info-box p {
        padding: 4px 0; 
    }





    /*FAQ PAGE----------------------------------------------------------------------------------------------------------*/
    /*FAQ PAGE----------------------------------------------------------------------------------------------------------*/
    .faq {
        margin: 40px auto; 
    }

    .accordion {
        margin-top: 30px;
        margin-bottom: 40px; 
        width: 100%;
    }

    .accordion-button  {
        font-size: 1.1rem; 
    }

    .accordion-item, .accordion-body {
        font-size: 0.9rem; 
    }

    .faq-report {
        font-size: 1rem; 
    }

    
    }



    .nav-pills {
        --bs-nav-pills-link-active-bg: #005580;
        --bs-nav-link-color: #005580;
        --bs-nav-link-hover-color: #003d5c;
        gap: 10px;
    }
    
    .nav-pills .nav-link {
        padding: 8px 20px;
        font-weight: 500;
        color: #005580;
    }


    .about-content {
        display: flex;
        flex-direction: column;
        margin: 40px 60px;
        width: 100%;
        max-width: 800px;
        
    }

    .faq-contact {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about-content h5 {
        margin-top: 16px; 
      }
      












    

    


   

    

    

    .filter-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    #dropdownProgram {
        margin-left: 10px;
    }







    
    .course-container img{
        height: 360px;
        position: absolute;
    }

    .home-graphic-right {
        right: -220px;
        bottom: 100px;
    }

    .home-graphic-left {
        left: -220px;
        bottom: 0px;
        z-index: 11;
    }

    .home-graphic-left,
    .home-graphic-right {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    animation: float 3s ease-in-out infinite;
}

    .home-graphic-left.fade-in,
    .home-graphic-right.fade-in {
    opacity: 1;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}


.home-graphic-right {
    animation-delay: 0.5s;
}

.sub-text {
    display: block;
    font-size: 1.5rem;
    margin-top: 16px;
    color: #757575;
    text-align: center;
    font-weight: bold;
    margin-bottom: 8px;
}



.card-info-row {
    display: flex;
    align-items: center;
    gap: 8px;
}

.card-info-row .card-sub {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    color: #666;
    font-size: 0.9rem;
}


#author {
    flex: 4; 
}
